<section *ngIf="loaded(); else loading">
  <h2>ANRQ</h2>
  <div *ngFor="let q of questions()">
    <h3>{{ q.number }}. {{ q.description }}</h3>
    <div>
      <label *ngFor="let r of q.responses">
        <input type="radio" name="q-{{ q.number }}" [value]="r.value" [(ngModel)]="answers['q-'+q.number]" />
        {{ r.description }}
      </label>
    </div>
    <div *ngIf="q.subquestions?.length">
      <div *ngFor="let s of q.subquestions">
        <h4>{{ q.number }}.{{ s.subquestionNumber }} {{ s.description }}</h4>
        <label *ngFor="let r of s.responses">
          <input type="radio" name="q-{{ q.number }}-s-{{ s.subquestionNumber }}" [value]="r.value" [(ngModel)]="answers['q-'+q.number+'-s-'+s.subquestionNumber]" />
          {{ r.description }}
        </label>
      </div>
    </div>
  </div>
</section>
<ng-template #loading><p>Loading...</p></ng-template>
