<mat-toolbar class="navbar">
  <div class="brand">
    <mat-icon class="logo" aria-hidden="true">local_florist</mat-icon>
    <span>Sarah</span>
  </div>
  
  <div>
    <button mat-button>Home</button>
    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
 
    <a mat-button routerLink="/tests/epds">EPDS</a>
    <a mat-button routerLink="/tests/anrq">ANRQ</a>
    <a mat-button routerLink="/tests/pass">PASS</a>
    </div>
</mat-toolbar>