<mat-card class="login-card">
  <h2 class="form-title">Log In</h2>
  <hr class="linea-gradiente" />

  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input placeholder="example@mail.com" matInput type="email" formControlName="email" maxlength="50" />
      @if (getControl('email')?.touched && getControl('email')?.invalid) {
      @if (getControl('email')?.hasError('required')) {
      <mat-error>Email is required.</mat-error>
      }
      @if (getControl('email')?.hasError('email')) {
      <mat-error>Invalid email format.</mat-error>
      }
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" maxlength="15" placeholder="Enter your password" />
      @if (getControl('password')?.touched && getControl('password')?.invalid) {
      @if (getControl('password')?.hasError('required')) {
      <mat-error>Password is required.</mat-error>
      }
      }
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Log In
      </button>
    </div>
  </form>
</mat-card>