
.login-card {
  /* background-color: var(--sarah-soft);
  box-shadow: var(--card-shadow); */
  border-radius: 16px;
  padding: 32px;
  max-width: 700px;
  margin: 40px auto;
  background-color: var(--mat-card-elevated-container-color, var(--mat-sys-surface-container-low));
  border-color: var(--mat-card-elevated-container-color, var(--mat-sys-surface-container-low));
  border-radius: var(--mat-card-elevated-container-shape, var(--mat-sys-corner-medium));
  box-shadow: var(--mat-card-elevated-container-elevation, var(--mat-sys-level1));
}

.form-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--sarah-ink);
  margin-bottom: 10px;
  text-align: center;
}


.full-width {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-form-field {
  width: 100%;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

button {
  min-width: 150px;
  background-color: var(--sarah-primary);
  color: white;
}

/* Errores */
mat-error {
  font-size: 12px;
  color: #f44336;
}

@media (max-width: 768px) {
  .login-card {
    margin: 20px;
    padding: 24px;
      margin: 40px auto;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  .login-card {
    max-width: 550px;
    padding: 40px;
  }
}
@media (min-width: 1600px) {
  .login-card {
    max-width: 700px;
    padding: 48px 56px;
  }

  .form-title {
    font-size: 2rem;
  }

  button {
    font-size: 1.1rem;
    padding: 12px 24px;
  }
}


