.example-card {
  max-width: 400px;
  margin: 20px auto;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
