.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

app-navbar {
    flex-shrink: 0;
}

router-outlet {
    display: none;
}

app-footer {
    margin-top: auto;
    flex-shrink: 0;
    padding: 20px 0;
}