.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

app-navbar {
    flex-shrink: 0;
}

app-root {
    flex: 1;
}

app-footer {
    flex-shrink: 0;
}